<div id="mainView" class={{if this.sidebarState.isSidebarOpen 'chat-view-sidebar-open' 'chat-view-sidebar-closed'}}>
		<div class="mainViewScrollDiv" id="mainViewScrollDiv">
		{{#each @model as |item|}}
				{{#if item.sender}}
						<div class="left-message-box">
							<div class="user-img-left">
									<img src="/profile_pictures{{item.profile_image}}" alt="Smiley face" class="chat-image-left">
							</div>
								<div>
									<div class="chatbox-container-left">
										{{item.message}}
										<div class="message-date-left">
											{{item.message_date}}
										</div>
									</div>
								</div>

						</div>
				{{else}}
						<div class="right-message-box">
								<div class="user-img-right">
										<img src="/profile_pictures{{item.profile_image}}" alt="Smiley face" class="chat-image-right">
								</div>
								<div>
									<div class="chatbox-container-right">
											{{item.message}}
											<div class="message-date-right">
												{{item.message_date}}
											</div>
									</div>
								</div>

						</div>
				{{/if}}
		{{/each}}
	</div>
</div>
<div id="chatbox" class={{if this.sidebarState.isSidebarOpen 'chatbox-sidebar-open' 'chatbox-sidebar-closed'}}>
		<form {{action "submitChatText" chatInputValue on="submit"}} id="chatbox-form">
				<button type="submit" class="chatbox-submit">Submit</button>
				{{input class="chatbox-input" id="chatbox-input" value=chatInputValue}}
		</form>
</div>

<script src={{getHostNameWithSocket}}></script>
{{outlet}}