<div class="contactHeader">

</div>
<div class="contactHeader">Contacts<a href="#"><img src="plus-button.png" width="15" height="15" alt="Cant show image" class="plusButton"></a></div>
<div id="contactParent">
		{{#each @model as |item|}}
				{{#link-to "chat" item.user_id  id=item.id}}
						{{#if item.is_active}}
								<img src="on.png" height="15" width="15" alt="Cant show image" class="contactStatusImage">{{item.name}} {{item.surname}}
						{{else}}
								<img src="off.png" height="15" width="15" alt="Cant show image" class="contactStatusImage">{{item.name}} {{item.surname}}
						{{/if}}
				{{/link-to}}
		{{/each}}
</div>
